<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa Incrível</title>
    <link rel="stylesheet" href="busca.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="2928979-icone-de-processamento-de-pedido-vetor.jpg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <h1>Restaurante</h1>
            <h2>Digite o numero do seu telefone para poder acompanhar seu pedido!</h2>
            <button id="theme-toggle"  class="search-button">🌙 Mudar Tema</button>

            
        </header>
        <div class="search-box">
            <input type="tel" id="search" placeholder="digite aqui seu Telefone" class="search-input">
            <button id="searchButton" class="search-button">Buscar</button>
        </div>

        <div id="orderModal" class="modal">
            

            <h3>Efetue o pagamento para número PIX: (61991018333)</h3>
            <h3>Você terá o tempo de <span id="countdown">05:00</span> para efetuar o pagamento.</h3>
            <h3>Caso queria cancela basta não Efetua o Pagamento </h3>

            <p id="statusMessage"></p>

            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>

                
              
                <div class="order-details" id="orderDetails">
                    <!-- Os detalhes do pedido serão carregados aqui -->
                </div>
                <div   style="background-color:transparent;">
                    <!-- Os status do pedido serão carregados aqui -->
                  
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2025 Pesquisa Incrível. Todos os direitos reservados.</p>
        </footer>
    </div>

    <script src="Cliente.js"></script>
</body>
</html>
